<h1>首頁</h1>
<a href="products/new">新增產品</a>

<!-- View Helper -->
<%= link_to "新增商品", '/products/new' %>
<%= link_to "新增商品", new_products_path %>

<%# 預設 helper? %>
<%= link_to "新增商品", new_product_path %>

