.field {
  margin: 10px 0;
  .field_with_errors {
    display: inline-block;
    label{
      color: red;
    }
    input{
      border:2px solid red;
    }
  }
}

// ul > {
  // display: inline-block;
// }