<h1>新增商品頁</h1>

<form action="/products" method="post">
  <%# <input type="hidden" name="_method" value="delete" /> %>
  <input type="text" name="title" />
  <input type="submit" value="送出" />
</form>

<%= link_to "返回", root_path %>


